/* variables */
:root {
    /* color */
    --teal: #01a3a4;
    --green: #1dd1a1;
    --gray: #8395a7;
    --black: #222f3e;
    --white: #fff;
}

/* global styles */
* {
    /* override browser defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
p, span, label {
    font-size: 20px;
}
input {
    font-size: 18px;
}
.btn {
    font-size: 20px;
    background: var(--teal);
    color: var(--white);
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
}
.btn:hover {
    background: var(--green);
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 15px 25px;
}
#view-scores {
    color: var(--green);
}
#view-scores:hover {
    color: var(--teal);
}

/* instructions styles */
#instructions {
    padding: 0 10%;
    text-align: center;
}
#instructions h1, #instructions p {
    margin-bottom: 15px;
}

/* quiz styles */
#quiz {
    margin-left: 20%;
    margin-right: 10%;
}
.question {
    margin: 15px 0;
}
.answers-container {
    display: flex;
    flex-direction: column;
}
.answer {
    width: 250px;
    text-align: left;
    margin-bottom: 15px;
}
.is-correct {
    border-top: 2px solid var(--gray);
}
.is-correct p {
    margin-top: 5px;
    color: var(--gray);
    font-style: italic;
}

/* final score submit styles */
#final-score {
    margin-left: 20%;
    margin-right: 10%;
}
#final-score h2 {
    margin-bottom: 10px;
}
#submit-score {
    margin-top: 10px;
}
#submit-score label, #submit-score input {
    margin-right: 15px;
}
#submit-score input {
    padding: 4px;
    border-radius: 0;
    border: 1px solid var(--gray);
}
#submit {
    font-size: 18px;
}

/* utility styles */
/* hide content */
.hide {
    display: none;
}

/* MEDIA QUERIES FOR RESPONSIVE SIZING */
/* TABLET BREAKPOINT */
/* @media screen and (min-width: 481px) {} */

/* SMALL SCREENS BREAKPOINT */
/* @media screen and (min-width: 769px) {} */

/* LARGE SCREENS BREAKPOINT */
/* @media screen and (min-width: 1025px) {} */